html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.info-window {
  color: black;
}

.info-window a {
  color: blue;
}

.pac-target-input {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  padding: 0.5rem;
  z-index: 1;
}

.lat-lng {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.lat-lng input {
  margin: 0px 0.5rem;
  padding: 0.5rem;
}
